.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: black; /* light background */
  --text-color: lightgray; /* light text */
}

.light-theme {

  --background-color: #ffffff;
  --text-color: #000000

}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.project-card{
  background-color: var(--background-color);
  color: var(--text-color);
}

.no-style-link {
  color: inherit; /* Inherits the color from the parent element */
  text-decoration: none; /* Removes underline */
}

.no-style-link:hover,
.no-style-link:focus {
  text-decoration: underline; /* Optional: Adds underline on hover/focus for better user experience */
  cursor: pointer;
}